* { box-sizing: border-box }

:root {
	--bgColor: #fff;
	--theme-color: #50bcff;
}

::selection {
	background-color: var(--theme-color);
	color: #fff;
}

body {
	background-color: var(--bgColor);
}

main {
	font-family: Arial, Helvetica, sans-serif;
	margin: auto;
	font-size: 40px;
	width: 95%;
	padding: 20px;
}

@media (max-width: 1045px) {
	main {
		padding: 20px 30px;
	}
}

@media (max-width: 880px) {
	main {
		padding: 20px 20px;
	}
}

@media (max-width: 645px) {
	main {
		padding: 20px 10px;
	}
}

@media (max-width: 545px) {
	main {
		padding: 20px 5px;
	}
}

main *:focus {
	outline: none;
}

table {
	background-color: black;
	width: 100%;
}

th {
	background-color: var(--bgColor);
	text-transform: capitalize;
}

td {
	background-color: var(--bgColor);
	padding: 3px 10px;
}

thead th.nos {
	width: 5%;
	padding: 0 10px;
}

thead td, tbody td {
	cursor: default;
}

tbody tr {
	counter-increment: numbs;
}

tbody td.editable {
	text-overflow: ellipsis;
	width: 90%;
}

td.check {
	position: relative;
}

tbody td input[type = checkbox] {
	--dimensions: 30px;
	display: inline-block;
	width: var(--dimensions);
	height: var(--dimensions);
	cursor: pointer;
	margin: 0 3%;
}

tbody td label {
	position: absolute;
	--dimensions: 30px;
	width: var(--dimensions);
	height: var(--dimensions);
	z-index: 1;
	background-color: red;
	left: 42px;
	top: 10px;
	cursor: pointer;
	border-radius: 3px;
}

input[type = checkbox] + input[type = text] {
	line-break: anywhere;
	display: inline-block;
}

input[type = checkbox]:checked + input[type = text] {
	text-decoration: line-through;
}

input[type = text] {
	height: 100%;
	width: calc(92% - 20px);
	background-color: var(--bgColor);
	border: none;
}

tbody td.count {
	text-align: center;
}

tbody td.count::before {
	content: counter(numbs);
}

tfoot td {
	padding: 10px;
}
